# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore etc

!.gitignore

!Makefile

!*.org
!*.md

!*.cpp
!*.h
!README

!.lldbinit
!.projectile
!.dir-locals.el
/TourOfCppV2/3-5-error-handling/.ccls-cache/
